/* BANNER INDEX */
.banner {
    width: 100%;
    height: 100%;
    margin-top: 45px;
}

.banner img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/* BANNER PROMOS BANCARIAS */
.banner_promos {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_promos img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}